{% extends '@App/base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
    <h1 class="center-text">Lista Produktów</h1>
        <section class="productsList">
        {% for product in products %}
            <div class="singleProduct">
                <div class="imgWrapper">
                    <a href="{{ path('product_show', { 'id': product.id }) }}"><img src="{{ product.photo }}"></a>
                </div>
                <div class="productDescription">
                    <p class="center-text"><span>{{ product.name }}</span></p>
                    <p class="center-text"><span>{{ product.description }}</span></p>
                    <p class="center-text"><span>{{ product.price }} zł</span></p>
                </div>
            </div>
        {% endfor %}
        <div class="clearFix" style="clear: both;"></div>
        </section>
    </div>
</div>
{% endblock %}