{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>adres: {{ user.address }}</p>
    <a href="{{ path('fos_user_profile_edit') }}">zmień swoje dane</a>
</div>
