{% extends '@App/base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1 class="center-text">LISTA ZAMÓWIEŃ</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Sum</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">{{ purchase.id }}</a></td>
                    <td>{{ purchase.status }}</td>
                    <td>{{ purchase.sum }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('purchase_show', { 'id': purchase.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('purchase_edit', { 'id': purchase.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
