{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class=" col-md-offset-4 col-md-4 ">
            <h1>Panel Admina</h1>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4 ">
            <h3>Użytkownicy</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Zamówienia</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.address }}</td>
                        <td>
                            <ul>
                                <li>

                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Lista Produktów</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</a></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.photo }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('product_edit', { 'id': product.id }) }}">edytuj</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('product_new') }}">Stwórz nowy produkt</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Lista Zamówień</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Suma zamówienia</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">{{ purchase.id }}</a></td>
                        <td>{{ purchase.status }}</td>
                        <td>{{ purchase.sum }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('purchase_show', { 'id': purchase.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('purchase_edit', { 'id': purchase.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
